<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Thursday, February 3</h3>
    <table class="table table-striped">
      <tr> <td>12:45</td>  <td>Setup and Introductions</td> </tr>
      <tr> <td>13:00</td>  <td>Python Fundamentals </td> </tr>
      <tr> <td>13:30</td>  <td>Break</td> </tr>
      <tr> <td>13:45</td>  <td>Analyzing Patient Data</td> </tr>
      <tr> <td>14:15</td>  <td>Visualizing Tabular Data</td> </tr>
      <tr> <td>15:05</td>  <td>Wrap-up</td> </tr>
      <tr> <td>15:15</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Friday, February 4</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Setup and Review</td> </tr>
      <tr> <td>09:40</td>  <td>Storing Multiple Values in Lists</td> </tr>
      <tr> <td>10:25</td>  <td>Repeating Actions with Loops</td> </tr>
      <tr> <td>10:55</td>  <td>Break</td> </tr>
      <tr> <td>11:10</td>  <td>Analyzing Data from Multiple Files</td> </tr>
      <tr> <td>11:30</td>  <td>Making Choices</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
